body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 128, 136);
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 300px;
    height: 400px;
    margin: 20px 10px;
    background-color: #fff;
    border-radius: 10px;
}

.header {
    background-image: url(images/bg-pattern-card.svg);
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

.profile {
    text-align: center;
    margin-top: -40px;
}

.img{
    border-radius: 50%;
}


.info {
    text-align: center;
}



.name{
font-size: 20px;
color: black;
}

span{
    color: gray;
}

.city {
    font-size: 15px;
    color: gray;
}

.profile-info {
    display: flex;
    justify-content: space-around;
}

.line {
    border: 1px solid lightgray;
    background-color: lightgray;
}

.p-color {
    color: gray;
} 